.container {
  border: 3px solid black;
  border-radius: 10px;
  padding: 50px;
  position: relative;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
  display: grid;
  grid-gap: 1rem;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  width: auto;
  background-color: #16e2f5;
  color: #050505;
}

header {
  grid-column-start: 1;
  grid-column-end: 3;

  font-size: 30px;
}
#header {
  font-size: 20px;
  font-weight: normal;
}

img {
  width: auto;
  height: 35vh;
  align-content: center;
}

.game {
  grid-column: 1/-1;
  grid-row: 2 / span 1;
  justify-content: center;
}

#name {
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  text-align: right;
  grid-row: 2;
}

footer {
  bottom: 1px;
  width: 100%;
  text-align: center;
  align-self: end;
  font-size: medium;
  grid-row: 3 / span 1;
}
